/* Archivo: styles/index.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Main */
main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

/* Título */
main h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Contenedor de los botones */
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Espacio entre los botones */
}

/* Botones */
.button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 200px; /* Establecido para que los botones tengan un tamaño uniforme */
}

.button:hover {
    background-color: #0056b3;
}
